<suite name="SauceDemo Suite" >

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Tests">
        <classes>
            <class name="tests.CartTest"/>
            <class name="tests.CheckoutTest"/>
            <class name="tests.E2ETest"/>
            <class name="tests.FilterTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.SpecialUserTest"/>
            <class name="tests.SocialMediaLinkTest"/>
        </classes>
    </test>
</suite>